<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <section class="row">
        <section class="col">
            <h2>Input API Data Here</h2>
            <form action="/api" method="POST">
                <input type="text" placeholder="codCaen" name="codCaen">
                <textarea cols="40" rows="5" type="text" placeholder="denumire" name="denumire"></textarea>
                <input type="text" placeholder="punctaj" name="punctaj">
                
                <button type="submit">Submit New</button>
                <button type="button" id="updateButton">Update Existing</button>
            </form>
        </section>

        <section class="col">
            <h2>Delete API Data Here</h2>
            <input type="text" placeholder="name to delete" name="deleteInput" id="deleteInput">
            <button id="deleteButton">Delete</button>

            <h2>Current Foods</h2>
            <ol class="caen">
                <% for(let i=0; i< info.length; i++){%>
                    <li class="coduri-caen">
                        <span><%= info[i]%> </span>
                    </li>
                <%} %>
            </ol>
        </section>
    </section>

    <script type="text/javascript" src="main.js"></script>
</body>
</html>