body{
    width: 80%;
    margin: 0 auto;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,220,233,1) 100%);
}

input, textarea {
    display: block;
    font-size:20px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    margin:2px 0 20px 10px;
    width: 50%;
    text-align: center;
}
.row{
    display: flex;
  }

.col{
    flex: 70%;
    padding-left: 5%;
}
 .foods {
    display: flex;
    flex-flow: wrap column;
    height: 350px;
} 

button {
    display: block;
    margin: 0 15rem 0 5rem;
    width: 25%;
    font-weight: bolder;
}

h2{
    color: palevioletred;
    margin-left: 4rem;
    font-size: 2rem;
}










